@font-face {
font-family: Neo Sans;
src: url("Neo Sans Free/Neo Sans Std Regular.otf") format("opentype");
}

.divider {
  border-top: 2px solid #bbbcbe;
  margin-top: 5px;
  margin-bottom: 10px;
}

.divider.slim {
  border-width: 1px;
}

#title {
  margin-bottom: 0;
  font-weight: normal;
}

ul.post--listing {
  list-style-type: none;
  padding-left: 0;
}

ul.post--listing h3 {
  font-weight: normal;
}

.-margin-bottom--large {
  margin-bottom: 30px;
}

.-flex {
  display: flex;
  flex-direction: column;
}

.-flex .post--button {
  width: 10%;
  min-width: 50px;
  color: #ffffff;
  background-color: #de6212;
  border-radius: 0px;
  border: 0px none;
  font-size: 15px;
  line-height: 1.5
}

.-flex .ember-view {
  margin-bottom: 10px;
}

.ember-view {
  font-family: Neo Sans, Gill Sans;
}
